@import "tailwindcss";


.inputStyle {
  @apply w-full bg-black/40 border border-white/10 rounded-lg px-4 py-3 text-white focus:outline-none focus:border-purple-500 transition;
}
html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
      circle at 20% 20%,
      rgba(139, 92, 246, 0.15),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 80%,
      rgba(59, 130, 246, 0.15),
      transparent 40%
    ),
    #0a0a0a;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.03;
  pointer-events: none;
  z-index: 0;
}